<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ablyy.project.system.mapper.SysAlarmMapper">

    <resultMap type="SysAlarm" id="SysAlarmResult">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="type" column="type"/>
        <result property="status" column="status"/>
        <result property="contents" column="contents"/>
        <result property="alarmTime" column="alarm_time"/>
        <result property="acTime" column="ac_time"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="comid" column="comid"/>
    </resultMap>

    <sql id="selectSysAlarmVo">
        select id, title, type, status, contents, alarm_time, ac_time, create_by, create_time, update_by, update_time, comid from sys_alarm
    </sql>

    <select id="selectSysAlarmList" parameterType="SysAlarm" resultMap="SysAlarmResult">
        <include refid="selectSysAlarmVo"/>
        <where>
            <if test="title != null  and title != ''">and title = #{title}</if>
            <if test="type != null  and type != ''">and type = #{type}</if>
            <if test="status != null  and status != ''">and status = #{status}</if>
            <if test="contents != null  and contents != ''">and contents = #{contents}</if>
            <if test="alarmTime != null ">and alarm_time = #{alarmTime}</if>
            <if test="acTime != null ">and ac_time = #{acTime}</if>
            <if test="comid != null ">and comid = #{comid}</if>
        </where>
    </select>

    <select id="selectSysAlarmById" parameterType="Long" resultMap="SysAlarmResult">
        <include refid="selectSysAlarmVo"/>
        where id = #{id}
    </select>

    <insert id="insertSysAlarm" parameterType="SysAlarm">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            SELECT seq_sys_alarm.NEXTVAL as id FROM DUAL
        </selectKey>
        insert into sys_alarm
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">id,</if>
            <if test="title != null  and title != ''">title,</if>
            <if test="type != null  and type != ''">type,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="contents != null  and contents != ''">contents,</if>
            <if test="alarmTime != null ">alarm_time,</if>
            <if test="acTime != null ">ac_time,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="comid != null ">comid,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{id},</if>
            <if test="title != null  and title != ''">#{title},</if>
            <if test="type != null  and type != ''">#{type},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="contents != null  and contents != ''">#{contents},</if>
            <if test="alarmTime != null ">#{alarmTime},</if>
            <if test="acTime != null ">#{acTime},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="comid != null ">#{comid},</if>
        </trim>
    </insert>

    <update id="updateSysAlarm" parameterType="SysAlarm">
        update sys_alarm
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null ">title = #{title},</if>
            <if test="type != null ">type = #{type},</if>
            <if test="status != null ">status = #{status},</if>
            <if test="contents != null ">contents = #{contents},</if>
            <if test="alarmTime != null ">alarm_time = #{alarmTime},</if>
            <if test="acTime != null ">ac_time = #{acTime},</if>
            <if test="createBy != null ">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null ">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="comid != null ">comid = #{comid},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysAlarmById" parameterType="Long">
        delete from sys_alarm where id = #{id}
    </delete>

    <delete id="deleteSysAlarmByIds" parameterType="String">
        delete from sys_alarm where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
